{
  "test_call": "Eksploracja/data/splited/CALL_TYPE/test.csv",
  "train_call": "Eksploracja/data/splited/CALL_TYPE/train.csv",
  "model_call": "Eksploracja/data/models/call_model.plk",
  "test_day": "Eksploracja/data/splited/DAY_TYPE/test.csv",
  "train_day": "Eksploracja/data/splited/DAY_TYPE/train.csv",
  "model_day": "Eksploracja/data/models/day_model.plk",
  "train": "Eksploracja/data/train.csv",
  "head": "Eksploracja/data/head.csv",
  "lstm_model": "Eksploracja/data/models/lstm.plk",
  "models_dir": "Eksploracja/data/models/",
  "train_class": "Eksploracja/data/train_class.csv",
  "train_class_cleaned": "Eksploracja/data/train_class_cleaned.csv",
  "train_class_cleaned_npy": "Eksploracja/data/train_class_cleaned.npy",
  "train_class_cleaned_part_npy": "/Eksploracja/data/train_class_cleaned_0.5part.npy",
  "train_class_cleaned_all_npy": "/Eksploracja/data/train_class_cleaned_all.npy",
  "arrivals": "Eksploracja/data/arrivals.pkl",
  "mean_shift_model": "Eksploracja/data/models/mean_shift_model.pkl",
  "mean_shift_cluster_centers": "Eksploracja/data/mean_shift_cluster_centers.pkl",
  "mean_shift_data": "Eksploracja/data/models/mean_shift_data.pkl",
  "test_call_chunks": "Eksploracja/data/chunks/CALL_TYPE/test/",
  "window_size": 2,
  "chunk_size": 200000
}